<!DOCTYPE html>
<html>
<head>
    <title>Organ Donation System</title>
</head>
<body style="font-family: Arial; text-align:center;">

    <h1 style="color: darkred;">Organ Donation System ❤️</h1>
    <p>Save lives by donating organs</p>

    <a href="/register">
        <button style="padding:10px; margin:10px;">Register Donor</button>
    </a>

    <a href="/donors">
        <button style="padding:10px; margin:10px;">View Donors</button>
    </a>

    <a href="/search">
        <button style="padding:10px; margin:10px;">Search Donors</button>
    </a>

    <br><br>

    <a href="/logout">
        <button style="background:red; color:white; padding:10px;">Logout</button>
    </a>

</body>
</html>